<% provide(:title, 'About') %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90319815-1', 'auto');
  ga('send', 'pageview');

</script>

  <div class="header_buffer"></div>
  <div class="about_page">
    <h1>About</h1>
    <div class="text">
      <h3>What Is FI?</h3>
      <p>
        FI stands for Financial Independence.
      </p>
      <p>
        Financial Independence means having enough assets to sustain your
        living expenses indefinitely.
        This is the point where you could stop receiving an income and never run out of money.
        Note this doesn't necessarily mean that you'll stop working,
        but it simply means you no longer need to work for money.
        Freeing you pursue what ever interests inspire you.
        In order to reach FI you need to spend less than you earn and invest the difference wisely.
      </p>
    </div>

      <div class="text">
        <h3>About The Time To FI Calculator</h3>

        <p>
          This calculator is a simple tool to help you estimate when you will reach FI and can also help to analyze how changes in your financial profile might affect the time it will take you to reach FI.
        </p>
        <p>
          Based on your current spending, income, and net worth it will determine when you will reach FI.
        </p>
     </div>

    <div class="text">
    <h3>How To Use</h3>

    <p>
      The input of the calculator is comprised of three tabs:
      <ul class="bold">
        <li><strong>Assumptions</strong></li>
        <li><strong>Personal FI Information</strong></li>
        <li><strong>Change In Time To FI</strong></li>
      </ul>
    </p>

    <h4>Assumptions</h4>

    <p>
      In the Assumptions tab you can choose some basic financial numbers to represent your expectations of how the economy will act in the future.
      The default values are fairly conservative and are a good ballpark estimates if you don't know what to choose.
    </p>
    <p>
      <ul>
        <li>Growth Rate: How much you expect your invested assets to grow in value every year.</li>
        <li>Inflation: How much you expect prices of goods and services to rise every year.</li>
        <li>Raises: How much you expect your income to increase every year.</li>
        <li>Withdrawal Rate: How much of your total assets you feel comfortable with spending every year in retirement.</li>
      </ul>
    </p>

    <h4>Personal FI Information</h4>

    <p>
      In the Personal FI Information tab you will input your current financial info and the calculator will use this information to predict your Time To FI.
    </p>
    <p>
      <ul>
        <li>Monthly Expenses: How much you spend every month, on average.</li>
        <li>Monthly Income: How much you earn after taxes every month from employment, not any income investment returns.</li>
        <li>Net Worth: Your total amount of assets, which you can live off of in retirement.  This number can be negative to represent debt.</li>
      </ul>
    </p>
    <p>
      The calculator will loop through every month subtracting your monthly expenses form your net worth and adding your income to your net worth.  Eventually you'll get to a point where you no longer need add money to sustain your monthly expenses (based off your assumed withdrawal rate), this is your Time To FI, which the calculator will return.
    </p>
    <p>
      If you don't know how much you spend or make every month, I highly suggest services like mint.com or ynab.com it takes a little effort at first to track where your money goes, but is very empowering to do so!
    </p>

    <h4>Change In Time To FI</h4>

    <p>
      In the Change In Time To FI tab you can input hypothetical changes in your finances and the calculator will use this information to predict a new Time To FI and the difference to your current Time To FI.
    </p>
    <p>
      You can use this tab to help estimate the impact of financial decisions on your Time To FI.
    </p>
    <p>
      Positive numbers are considered as increases and negative numbers are considered to be decreases to the given number. For example a Change in Monthly Expenses of -$200 would mean that you are comparing spending $200 less than you currently spend.
    </p>
    <p>
      <ul>
        <li>Change In Monthly Expenses: Compares a change in how much you spend every month.</li>
        <li>Change In Monthly Income: Compares a change in how much you earn every month.</li>
        <li>Change In Net Worth: Compares an immediate change in the the total value of your assets.  </li>
      </ul>
    </p>
    </div>

    <div class="text">
    <h3>An Example In Using the Calculator</h3>
    <p>
      This is the real life example that inspired the creation of this tool.
    </p>
    <p>
      Say that you've recently moved to a new city with much better public transportation than your previous city.
      It's now possible that you could sell your car that you used to need to get to work and simply take public transportation.
      But you really like your car, it allows you to go travel on the weekends, makes shopping for groceries easier, you have lots of fond memories with the car, etc...
      You could save money if you sell your car, but you don't mind spending a bit of money to keep it if it adds enough value to your life.  It's hard to compare numbers on a spreadsheet to the real life utility of being able to drive around whenever you want.
      So to help make the decision, you want to know how much more time would you need to work in order to keep the car than if you were to sell it.  That way you can compare the hours of your life working to the pleasure of owning a car, an easier choice for you to make.
      First you need to figure out how long until your financially independent before selling the car.  Then you need to figure out hypothetically how long until you reach financial independence if you were to sell your car and compare those two numbers.
    </p>
    <p>
      Say you currently spend about $3,000 every month, make about $5,000 after taxes every month, and have a current net worth of about $50,000. (note that these numbers are completely arbitrary.)
      You look at your spending and figure that between gas, service and parts, insurance, car washes, etc. you spend about $250 every month on your car.  And you look at kelly blue book and figure you could get about $15,000 if you were to sell your car.
      $15,000 sounds like a lot, but you don't really need it right now, and $250 is something you can easily afford, you're still living well within your means.  You don't expect that to affect your Time To FI too much.
    </p>
    <p>
      You punch those numbers into the Time To FI calculator and figure out by selling your car, you would take you about 1 year and 8 months less to reach financial independence than if you were to keep it!  That's a lot longer than you were expecting, but you can now decide if the pleasure of owning a car is worth 20 months of working.
    </p>
    </div>
  </div>
