<% provide(:title, 'Glossary') %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90319815-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <img id="mario" src="http://i1061.photobucket.com/albums/t480/ericqweinstein/mario.jpg"/>
  <div class="page_header">
    <h1>Glossary</h1>
    <p>A list of all needed definitions.</p>
    <ul>
      <li>Average Return</li>
      <li>Raises</li>
      <li>Inflation</li>
      <li>Safe Withdrawl Rate</li>
    </ul>
    <ul>
      <li>Monthly Expenses</li>
      <li>Monthly Income</li>
      <li>Net Worth</li>
    </ul>
    <ul>
      <li>Added Monthly Expenses</li>
      <li>Added Monthly Income</li>
      <li>Added Single Expense</li>
    </ul>
  </div>
