<% provide(:title, "TimeToFi") %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90319815-1', 'auto');
  ga('send', 'pageview');
</script>
<script src="moment.js"></script>

  <div class="header_buffer"></div>
  <div class="page_header">
    <h1>Time To FI Calculator</h1>
    <p>A simple calculator to help you find your time to financial independence.</p>
  </div>

  <form class="timetofi_form" action="" method="post" id="timetofi_form" name="timetofi_form" onsubmit="return false;">
      <ul>
        <li class="has_bottom_border">
          <h3>Assumptions</h3>
        </li>
        <li>
          <label>Growth Rate (%)
            <i class="material-icons md-18" title="The rate at which you expect your investments to grow.">info_outline</i></label>
          <input type="number" id="growth-rate" name="growth-rate" step="0.1"
                  onchange="updateDisplay()" value="7.0" required/>
          <!--<span class="form_hint">This is yearly return</span>-->
        </li>
        <li>
          <label>Inflation (%)
            <i class="material-icons md-18" title="The rate at which you expect prices to rise.">info_outline</i></label>
          <input type="number" id="inflation" name="inflation" step="0.1" value="2.0"
                  onchange="updateDisplay()" required/>
        </li>
        <li>
          <label>Raises (%)
            <i class="material-icons md-18" title="The rate at which you expect your income to rise during employment.">info_outline</i></label>
          <input type="number" id="raises" name="raises" step="0.1"
                  onchange="updateDisplay()" value="5.0">
        <li>
          <label>Withdrawl Rate (%)
            <i class="material-icons md-18" title="The percent of your investments you are willing to withdraw per year during retirement.">info_outline</i></label>
          <input type="number" id="withdrawl-rate"
                    name="withdrawl-rate" step="0.1" min="0" value="4.0"
                    onchange="updateDisplay()" required/>
        </li>
      </ul>
      <ul>
        <li class="has_bottom_border">
          <h3>Personal FI Information</h3>
        </li>
        <li>
          <label>Monthly Expenses ($)
            <i class="material-icons md-18"  title="How much you expect to spend per month. This will increase based on inflation.">info_outline</i></label>
          <input type="number"  id="month-expenses" name="month-expenses" value="3000"
                  onchange="updateDisplay()" required/>
        </li>
        <li>
          <label>Monthly Income ($)
            <i class="material-icons md-18" title="How much you earn per month on aveage. This will increase based on raises.">info_outline</i></label>
          <input type="number"  id="month-income" name="month-income" value="5000"
                onchange="updateDisplay()" required/>
        </li>
        <li>
          <label>Net Worth ($)
            <i class="material-icons md-18" title="Your current amount of assets that you are able to live off of during retirement.  A negative number represents overall debt.">info_outline</i></label>
          <input type="number"  id="net-worth" name="net-worth" value="50000"
                onchange="updateDisplay()" required/>
        </li>
      </ul>

      <ul>
        <li class="has_bottom_border">
          <h3>Change In Time To FI</h3>
        </li>
        <li>
          <label>Change in Monthly Expense
            <i class="material-icons md-18" title="Compare a change in monthly expenses. A positive number means increased expenses, a negative number means decreased expenses.">info_outline</i>
          </label>
          <input type="number" id="change-in-monthly-expenses"
                name="change-in-monthly-expenses" value="-250" onchange="updateDisplay()"/>
        </li>
        <li>
          <label title="Compare a change in monthly income.  A positive number means an increased income, a negative number means a decreased income.">Change in Monthly Income<i class="material-icons md-18">info_outline</i></label>
          <input type="number" id="change-in-monthly-income"
                name="change-in-monthly-income" value="0" onchange="updateDisplay()"/>
        </li>
        <li>
          <label>Change in Net Worth
            <i class="material-icons md-18" title="Compare a change in your net worth.  A positive number means an instant increase in net worth, e.g. selling a posession for cash.  A negative number means an instant decrease in net worth, e.g. purchasing an expensive item.">info_outline</i>
          </label>
          <input type="number" id="change-in-net-worth"
                name="change-in-net-worth" value="15000" onchange="updateDisplay()"/>
        </li>
        <!--<li>
          <button class="submit" type="submit"
                onclick="updateDisplay()">Calculate Time Added to FI</button>-->

      </ul>

      <ul class="timetofi">
        <li>
          <h3>Time To FI:</h3>
        </li>
        <li title="How long until you will be financially independent.">
          <h3><div id="time-to-fi-output"> </div></h3>
        </li>
      </ul>

      <ul class="changeinfi">
        <li>
          <h3>Change In FI:</h3>
        </li>
        <li title="The amount of time added to or removed from your time to FI based the inputed changes in expenses, income, or net worth.">
          <h3><div id="change-in-time-to-fi-output"> </div><h3>
        </li>
      </ul>

      <div id="chart-change-in-fi" class="chart"></div>

    <ul>
      <li>
        <h3>Other Useful Info:</h3>
      </li>
      <li title="What your savings rate is.">
        <div id="savings-rate-output">Savings Rate: </div>
      </li>
      <li title="">
        <div id="monthly-portfolio-income-output">Monthly Portfolio Income: </div>
      </li>
      <li title="How long your assets would last if you stopped earning an income and maintained the same level of expenses.">
        <div id="time-to-depletion-output">Time To Depletion is: </div>
      </li>
    </ul>

    <!-- <div id="chart-time-to-fi" class="chart"></div>
    <div id="chart-time-to-depletion" class="chart"></div> -->
  </form>



<div class="footer_buffer"></div>

<!-- <p>
  <button type="button" onclick="test()">Click Me!</button>
</p>
<div id="demo">test</div> -->
