<% provide(:title, "TimeToFi") %>
<h1>Time To FI</h1>
  <p>
    A simple calculator to help you find your time to financial independence.
  </p>

<form action="action_page.php">
  Monthly Spending:<br>
  <input type="text" name="mon_spend" value="2000">
  <br>
  Monthly Income:<br>
  <input type="text" name="mon_income" value="4000">
  <br>
  Net Worth:<br>
  <input type="text" name="net_worth" value="20000">
  <br><br>
  <input type="submit" value="Calculate">
</form>
