<% provide(:title, "TimeToFi") %>
<h1>Time To FI</h1>
  <p>
    A simple calculator to help you find your time to financial independence.
  </p>
  <form action="" id="timetofiform" onsubmit="return false;">
     <fieldset>

      <legend>Find Your Time To FI!</legend>

      <label >Monthly Spending</label>
      <input type="number"  id="monthspending"
      name="monthspending" value="2000"  onchange="calculateFI()"/>
      <br/>
      <label >Monthly Income</label>
      <input type="number"  id="monthincome"
      name="monthincome" value="4000"  onchange="calculateFI()"/>
      <br/>
      <label >Net Worth</label>
      <input type="number"  id="networth"
      name="networth" value="50000"  onchange="calculateFI()"/>

      <p>
        <legend>Assumptions</legend>

        <label >Average Return</label>
        <input type="text" id="averagereturn"
        name="averagerturn" value="7" onchange="calculateFI()"/>
        <br/>
        <label >Inflation</label>
        <input type="text" id="inflation"
        name="inflation" value="2" onchange="calculateFI()"/>
        <br/>
        <label >Raises</label>
        <input type="text" id="raises"
        name="raises" value="5" onchange="calculateFI()">
      </p>
      
      <br/>
      <br/>
      <div id="timetofioutput"></div>

      </fieldset>
  </form>

  <p>
    <button type="button" onclick="test()">Click Me!</button>
  </p>
  <div id="demo">demo</div>

<script></script>
