<footer class="footer">
  <small>
    The <a href="https://ficalc-app.herokuapp.com/">Financial Indpendence Calculator</a>
    by <a href="https://www.johnschoeman.com/">John Schoeman</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.com">News</a></li>
    </ul>
  </nav>
</footer>
