<footer class="footer">
  <small>
    The <a href="https://ficalc-app.herokuapp.com/">Financial Indpendence Calculator</a>
  </small>
  <nav>
    <ul>
      <li>
        <a href='https://ko-fi.com/A120IPT' target='_blank'>
        <img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi4.png?v=f' border='0' alt='Buy Me a Coffee at ko-fi.com' />
        </a> 
      </li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.com">News</a></li>
    </ul>
  </nav>
</footer>
