<!--<div class="header">
  <h1>FI Calc App</h1>
  <ul>
    <li>home</li>
    <li>about</li>
    <li>glossary</li>
  </ul>
</div>-->

<header class="header">
  <div class="container">
    <%= link_to "FI Calc App", root_path, id: "logo" %>
    <nav>
      <ul class="navbar">
        <li><%= link_to "TimeToFICalc",   root_path %></li>
        <li><%= link_to "About",          '#' %></li>
        <li><%= link_to "Glossary",       glossary_path %></li>
      </ul>
    </nav>
  </div>
</header>
